{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}

{% block title %}{{ config['SITENAME'] }} - Environment Manager{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap-table-1.11.1/bootstrap-table.min.css') }}">
{% endblock %}

{% block page_content %}
    <h2>Environment Manager</h2>
    <div class="table-responsive">
    </div>

    <div id="toolbar" class="btn-group">
        <button type="button" class="btn btn-default" id="environment_add_button" title="Add">
            <i class="glyphicon glyphicon-plus"></i>
        </button>
    </div>

    <table id="ListTable"
           data-toggle="table"
           data-url="{{ url_for('project.environment_list') }}"
           data-query-params="queryParams"
           data-pagination="true"
           data-page-size=10
           data-page-list="[10, 25, 50, All]"
           data-search="true"
           data-sort-name="id"
           data-sort-order="asc"
           data-show-refresh="true"
           data-show-toggle="true"
           data-show-columns="true"
           data-show-export="true"
           data-show-pagination-switch="true"
           data-striped="true"
           data-toolbar="#toolbar">
        <thead>
        <tr>
            <th data-field="id" data-sortable="true" data-switchable="false" data-visible="false">ID</th>
            <th data-field="module.name" data-sortable="true">Module</th>
            <th data-field="env" data-sortable="true">ENV</th>
            <th data-field="idc.name" data-sortable="true">IDC</th>
            <th data-field="server_ip">Server_IP</th>
            <th data-field="deploy_path">Deploy_Path</th>
            <th data-field="check_point1" data-visible="false">Check_Point1</th>
            <th data-field="check_point2" data-visible="false">Check_Point2</th>
            <th data-field="check_point3" data-visible="false">check_point3</th>
            <th data-field="online_since" data-visible="false">Online_Since</th>
            <th data-field="domain" data-visible="false">Domain</th>
            <th data-field="action" data-formatter="actionFormatter" data-events="actionEvents">Action</th>
        </tr>
        </thead>
    </table>

<!-- Model environment_add -->
<div class="modal fade" id="environment_add" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Environment Add</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" data-async data-target="#rating-modal" action="{{ url_for('project.environment_add') }}" method="POST">
                    {{ add_environment_form.csrf_token }}
                    {{ render_field(add_environment_form.module) }}
                    {{ render_field(add_environment_form.idc) }}
                    {{ render_field(add_environment_form.env) }}
                    {{ render_field(add_environment_form.check_point1) }}
                    {{ render_field(add_environment_form.check_point2) }}
                    {{ render_field(add_environment_form.check_point3) }}
                    {{ render_field(add_environment_form.deploy_path) }}
                    {{ render_field(add_environment_form.server_ip) }}
<div class="form-group">
    <label class="control-label col-sm-4">{{ add_environment_form.online_since.label }}：</label>
    <div class="col-sm-6">
        {{ add_environment_form.online_since(class="form-control dtpick") }}
        {% for error in add_environment_form.online_since.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </div>
</div>
                    {{ render_field(add_environment_form.domain) }}
                    <div class="form-group">
                        <div class="col-sm-4">
                        </div>
                        <div class="col-sm-8">
                            <button type="submit" class="btn btn-primary">submit</button>&nbsp;&nbsp;&nbsp;&nbsp;
                            <button type="reset" class="btn btn-danger">reset</button>
                        </div>
                    </div>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<!-- Model environment_add -->

<!-- Model environment_edit -->
<div class="modal fade" id="environment_edit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Environment Edit</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" data-async data-target="#rating-modal" action="{{ url_for('project.environment_edit') }}" method="POST">
                    {{ edit_environment_form.csrf_token }}
                    {{ edit_environment_form.e_id }}
                    {{ render_field(edit_environment_form.e_module) }}
                    {{ render_field(edit_environment_form.e_idc) }}
                    {{ render_field(edit_environment_form.e_env) }}
                    {{ render_field(edit_environment_form.e_check_point1) }}
                    {{ render_field(edit_environment_form.e_check_point2) }}
                    {{ render_field(edit_environment_form.e_check_point3) }}
                    {{ render_field(edit_environment_form.e_deploy_path) }}
                    {{ render_field(edit_environment_form.e_server_ip) }}
<div class="form-group">
    <label class="control-label col-sm-4">{{ edit_environment_form.e_online_since.label }}：</label>
    <div class="col-sm-6">
        {{ edit_environment_form.e_online_since(class="form-control dtpick") }}
        {% for error in edit_environment_form.e_online_since.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </div>
</div>
                    {{ render_field(edit_environment_form.e_domain) }}
                    <div class="form-group">
                        <div class="col-sm-4">
                        </div>
                        <div class="col-sm-8">
                            <button type="submit" class="btn btn-primary">submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<!-- Model environment_edit -->

<!-- Model environment_del -->
<div class="modal fade" id="environment_del" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Environment Del</h4>
            </div>
            <div class="modal-body">
                    <form class="form-horizontal" data-async data-target="#rating-modal" action="{{ url_for('project.environment_del') }}" method="POST">
                        <input id="environment_del_id" name="id" type="hidden" value="">
                        <input id="environment_del_module" name="module" type="hidden" value="">
                        <input id="environment_del_env" name="env" type="hidden" value="">
                        <div class="form-group">
                            <label class="control-label col-sm-offset-1" id="environment_del_label">Are you sure?</label>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-8 col-sm-10">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<!-- Model environment_del -->

{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='bootstrap-table-1.11.1/bootstrap-table.min.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap-table-1.11.1/locale/bootstrap-table-zh-CN.min.js') }}"></script>
<script>
$(function () {
    $('#ListTable').bootstrapTable({
    });
});

$(function () {
    $("button#environment_add_button").click(function(){
        $('#environment_add').modal('show');
    });
});

$(function() {
    $( ".dtpick" ).datetimepicker({
        format: "yyyy-mm-dd hh:ii:ss",
        language: 'zh-CN',
        weekStart: 1,
        todayBtn:  1,
		autoclose: 1,
		todayHighlight: 1,
		startView: 2,
		forceParse: 0,
        showMeridian: 1
    });
});

function queryParams() {
    return {
        type: 'owner',
        sort: 'updated',
        direction: 'desc',
        per_page: 100,
        page: 1
    };
}

function actionFormatter(value, row, index) {
    return [
        '<a class="edit ml10" href="javascript:void(0)" title="Edit">',
        '<i class="glyphicon glyphicon-edit"></i>',
        '</a>',
        '<a class="remove ml10" href="javascript:void(0)" title="Remove">',
        '<i class="glyphicon glyphicon-remove"></i>',
        '</a>'
    ].join('');
}

window.actionEvents = {
    'click .edit': function (e, value, row, index) {
        $('#e_id').val(row.id);
        $('#e_module').val(row.module.id);
        $('#e_idc').val(row.idc.id);
        $('#e_env').val(row.env);
        $('#e_check_point1').val(row.check_point1);
        $('#e_check_point2').val(row.check_point2);
        $('#e_check_point3').val(row.check_point3);
        $('#e_deploy_path').val(row.deploy_path);
        $('#e_server_ip').val(row.server_ip);
        $('#e_online_since').val(row.online_since);
        $('#e_domain').val(row.domain);
        $('#environment_edit').modal('show');
        //alert('You click edit icon, row: ' + $('#e_name').val(row.name););
        //console.log(value, row, index);
    },
    'click .remove': function (e, value, row, index) {
        document.getElementById('environment_del_label').innerHTML = 'Delete <font color=blue>' + row.module.name + ": " + row.env + "</font>, are you sure?";
        $('#environment_del_id').val(row.id);
        $('#environment_del_module').val(row.module.name);
        $('#environment_del_env').val(row.env);
        $('#environment_del').modal('show');
        //alert('You click remove icon, row: ' + JSON.stringify(row));
        //console.log(value, row, index);
    }
};

</script>
{% endblock %}