{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}

{% block title %}{{ config['SITENAME'] }} - Server import{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap-table-1.11.1/bootstrap-table.min.css') }}">
{% endblock %}

{% block page_content %}
    <h2>Server import</h2>
    <div class="table-responsive">
    </div>

    <legend><small>文件必须是csv格式，字段： name,category_branch,idc,rack,private_ip,public_ip,category,env,type,status,description </small></legend>
    <form class="form-horizontal" enctype="multipart/form-data" action="{{ url_for('cmdb.server_import') }}" method="POST">
        <div class="form-group">
            <label class="control-label col-sm-4" for="file">请选择CSV文件</label>
          <div class="input-group col-sm-6">
                <input id="file" type="file" name="file" class="input-file" required="true">
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4">
            </div>
            <div class="col-md-8">
                <button type="submit" class="btn btn-primary">Upload</button>&nbsp;&nbsp;&nbsp;&nbsp;
                <button type="reset" class="btn btn-default">reset</button>
            </div>
        </div>
    </form>

{{ data }}
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='bootstrap-table-1.11.1/bootstrap-table.min.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap-table-1.11.1/locale/bootstrap-table-zh-CN.min.js') }}"></script>
{% endblock %}