{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}

{% block title %}{{ config['SITENAME'] }} - Deploy Manager{% endblock %}

{% block page_content %}
<div class="page-header">
    <h2>Deploy Manager</h2>
</div>

<div class="col-md-10">
    <form action="{{ url_for('deploy.deploy_add') }}" method="POST">
        <div class="row">
          <div class="col-6">
              <div class="form-group">
                  <label class="control-label col-md-2" for="select_project">{{ add_deploy_form.project.label }}：</label>
                  <div class="col-md-4">
                      {{ add_deploy_form.project(class="form-control") }}
                  </div>
              </div>
          </div>

          <div class="col-6">
                <div class="form-group">
                  <label class="control-label col-md-2" for="select_module">{{ add_deploy_form.module.label }}：</label>
                  <div class="col-md-4">
                      {{ add_deploy_form.module(class="form-control") }}
                  </div>
              </div>
          </div>
        </div>

        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label class="col-md-2 control-label" for="deploy_dir">Select Deploy DIR:</label>
                    <div class="col-md-4">
                        <label class="checkbox-inline" for="apps">
                            <input type="checkbox" name="deploy_dir" id="apps" value="apps">
                            apps
                        </label>

                        <label class="checkbox-inline" for="config">
                            <input type="checkbox" name="deploy_dir" id="config" value="config">
                            config
                        </label>

                        <label class="checkbox-inline" for="lib">
                            <input type="checkbox" name="deploy_dir" id="lib" value="lib">
                            lib
                        </label>
                  </div>
                </div>
            </div>

            <div class="col-6">
                <div class="form-group">
                    <label class="col-md-2 control-label" for="version">Input Version:</label>
                    <div class="col-md-4">
                        <input class="form-control input-md" id="version" name="version" type="text">
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-4">
            </div>
            <div class="col-sm-8">
                <button type="submit" class="btn btn-primary">submit</button>&nbsp;&nbsp;&nbsp;&nbsp;
                <button type="reset" class="btn btn-default">reset</button>
            </div>
        </div>
    </form>
</div>

<div class="col-md-12">
    <hr />
</div>

<div class="col-md-12">
    <div class="panel panel-success">
        <div class="panel-heading">Result</div>
        <div class="panel-body">
            <p id="result"></p>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
<script>
$(function() {
    $('#project').change(function() {
        if($(this).val() == 0){
            url = "{{ url_for('project.module_list') }}"
        }else{
            url = "{{ url_for('project.module_list') }}" + "?project_id=" +  $(this).val()
        }
        $.get(url, function(result){
            jQuery("#module").empty(); //clean select option
            for(var item in result){
                jQuery("#module").append("<option value=" + result[item].id + ">" + result[item].name + "</option>");
            }
        });
    });
});
</script>
{% endblock %}